<%= form_for(@apartment) do |f| %>
    <% if @apartment.errors.any? %>
        <div id="error_explanation">
          <h2>Ilość błędów: <%= @apartment.errors.count %></h2>

          <ul>
            <% @apartment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :number, 'Numer lokalu' %>
      <br/>
      <%= f.number_field :number %>
    </div>

    <div class="field">
      <%= f.label :floorage, 'Powierzchnia' %>
      <br/>
      <%= f.text_field :floorage %> m2
    </div>

    <div class="actions">
      <%= f.submit('Zapisz') %>
    </div>
<% end %>
