<h1>Lokale</h1>

<% unless @apartments.empty? %>
    <table cellspacing="5" cellspacing="0" style="background-color: #fff;">
      <tr>
        <th>Numer lokalu</th>
        <th>Powierzchnia</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @apartments.each do |apartment| %>
          <tr>
            <td><%= apartment.number %></td>
            <td><%= apartment.floorage %></td>
            <td><%= link_to 'Pokaż', apartment %></td>
            <td><%= link_to 'Edytuj', edit_apartment_path(apartment) %></td>
            <td><%= link_to 'Usuń', apartment, :confirm => 'Na pewno?', :method => :delete %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p>Brak lokali</p>
<% end %>

<p><%= link_to 'Nowy lokal', new_apartment_path %></p>
